
%table
  %tr
    %td
      Title
    %td
      Version
    %td
      App Name
    %td
      Edit
    %td
      Delete
      
  - @games.each do |game|
    %tr    
      %td
        = link_to game.title, game_path(game)
      %td
        = game.version
      %td
        = game.app_name       
      %td
        = link_to 'Edit', edit_game_path(game)
      %td
        = button_to "Delete #{game.title}", game_path(game), :method => :delete, :confirm => 'Are you sure?'

          
  %br

= link_to 'Add Game', new_game_path