
%table
  %tr
    %td
      Name
    %td
      Version
    %td
      App ID
    %td
      Edit
    %td
      Delete
      
  - @games.each do |game|
    %tr    
      %td
        = link_to game.name, game_path(game)
      %td
        = game.version
      %td
        = game.appId       
      %td
        = link_to 'Edit', edit_game_path(game)
      %td
        = button_to "Delete #{game.name}", game_path(game), :method => :delete, :confirm => 'Are you sure?'

          
  %br

= link_to 'Add Game', new_game_path