
%h1 Add Game

= form_for Game.new do |form|
  
  = form.label :title, 'Title: '
  = form.text_field :title
  %br
  
  = form.label :version, 'Version: '
  = form.text_field :version
  %br
  
  = form.label :app_name, 'App Name: '
  = form.text_field :app_name
  %br
  
  = form.label :description_tr, 'Description (TR): '
  = form.text_area :description_tr
  %br
  
  = form.label :description_en, 'Description (EN): '
  = form.text_area :description_en
  %br
  
  
  Logo@1x:
  = form.file_field :logo1x
  %br
  Logo@2x:
  = form.file_field :logo2x
  %br
  Logo@4x:
  = form.file_field :logo4x
  %br  
  
  = submit_tag 'Add Game'